<div class="col-md-12 no-padding">
	<div auto-height="" style="background:url(../app/views/aboutUs/image/gxh.jpg);background-size:100%;">
		<div>
			<span>高雪慧</span>
		</div>
	</div>
	<div auto-height="" style="background:url(../app/views/aboutUs/image/lq.jpg);background-size:100%;">
		<div>
			<span>李桥</span>
		</div>
	</div>
	<div auto-height="" style="background:url(../app/views/aboutUs/image/gxd.jpg);background-size:100%;">
		<div>
			<span>高旭东</span>
		</div>
	</div>
	<div auto-height="" style="background:url(../app/views/aboutUs/image/yl.jpg);background-size:100%;">
		<div>
			<span>袁李</span>
		</div>
	</div>
</div>