/**公共css**/
.no-padding{
	padding:0;
}
.pointer{
    cursor: pointer;
}
.no-margin{
	margin:0;
}
.float-right{
	float:right;
}
.img-size{
    width: 100%;
    height: 100%
}
.table-id{
    width: 6%;
}


/**私有css(请标注所用页面)**/

/*index页面css*/

/*loginIn页面css*/
.loginIn-block{
    border: 1px solid #ccc;
    background: rgba(245, 245, 245, 0.34);
}
.loginIn-form{
    margin-left: 8%;
    margin-right: 8%;
    height: 298px;
    border-bottom: 1px solid rgba(158, 158, 158, 0.53);
}
.loginIn-form-title{
    font-size: 17px;
    color: #777;
    font-weight: 500;
}
.loginIn-form-title-block {
    margin-top: 8%;
    margin-bottom: 8%;
}
.loginIn-form-input-span{
    border-right: 0;
    background: none;
    height:100%
}
.login-form-input-block{
    height: 45px;
    margin-bottom: 20px;
}
.login-form-input{
	height:100%;
	font-size: 16px;
}
.login-form-input-icon{
    color: #9d9d9d;
    font-size: 16px;
}
.login-form-checkbox-font{
	color: #777;
	font-size:14px;
}
.login-form-loginInBtn{
    color: white;
    font-size: 15px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(255, 0, 0, 0.57);
    background: rgba(255, 0, 0, 0.55);
    height: 39px;
}
.login-form-loginInBtn:hover{
	color: white;
    font-size: 15px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(255, 0, 0, 0.98);
    background: rgba(255, 0, 0, 0.87);
    height: 39px;
}
.login-form-loginInBtn-disabled{
	color: white;
    font-size: 15px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(255, 0, 0, 0.57);
    background: rgba(255, 0, 0, 0.55);
    height: 39px;
    cursor:no-drop!important;
}
.login-form-btn-block{
	width:100%;
    margin-top: 26px;
    margin-bottom: 50px;
}
.login-form-back-block{
	margin-left:8%;
	margin-right:8%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.login-form-back-icon{
    font-size: 30px;
   	color: #00BCD4;
}
.login-form-back-div{
	margin-bottom:30px;
	text-align:center;
}
.login-form-back-div-margin{
    margin-top: 8px;
}
.login-img{
    width: 96%;
    height: 413px;
}

/*注册*/
.register-img{
	width: 136%;
    height: 464px;
}
.register-block{
}
.register-form-block{
	margin-top:70px;
	background:white;
	margin-bottom:60px;
}
.register-form-input{
    font-size: 16px;
    height: 40px;
}
.register-form-span{
    font-size: 16px;
    color:black;
}
.register-form-span-wrong{
    font-size: 16px;
    color:red;
}
.register-form-input-block{
    margin-bottom: 23px;
}
.register-form-button-disabled{
	color: white;
    font-size: 15px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(255, 0, 0, 0.57);
    background: rgba(255, 0, 0, 0.55);
    height: 39px;
    cursor:no-drop!important;
}

.index_main {
	width : 80%;
	min-width : 1000px;
	margin:0 auto;
}

.index_center {
	width : 55%;
	min-wdith : 550px;
	margin:0 auto;
	padding-top : 120px;
}

.index_article_header {
	border-bottom : 1px solid #efefef;
	height : 60px;
	padding : 16px;
}

.index_article {
	width : 602px;
	margin-bottom : 60px;
	border:1px solid #ececec;
}

.index_comment {
	padding : 0 16px;
}

.index_image_div {
	margin-top:10px;
	height:30px;
}

.index_center_ul {
	padding-left:0px!important;
	font-size : 10px;
}

ul li {
	list-style-type : none;
}

.favor_div {
	margin-top : 5px;
	margin-bottom : 10px;
}

.index_center_span {
	word-break:break-all;
}

.index_center_info {
	margin-bottom : 10px;
}

.index_center_section {
	padding-right : 26px;
	margin-top: 4px;
	border-top: 1px solid #efefef;
	line-height: 18px;
	min-height : 56px;
	font-size: 14px;
	padding : 16px 0;
}

.section_form {
	
}

.section_textarea {
	background: 0 0;
    border: none;
    color: #262626;
    font-size: inherit;
    outline: none;
    padding: 0;
    resize: none;
    max-height: 80px;
    text-rendering: auto;
    width : 90%;
}

.index_center_comment {
	margin-bottom : 15px;
}

.sendButton {
	border-radius : 2px;
	border:none;
	width : 9%;
	height : 100%;
	background-color:#efefef;
}

.sendButton:hover {
	background-color:#dadada;
}

/*adminLogin*/
.adminLogin-title{
    padding: 0;
    margin: 0;
    font-size: 40px;
    color: rgb(85, 85, 85);
    text-align: center;
    padding-top:50px;
}
.adminLogin-img-size{
	height:550px;
}
.adminLogin-img-block{
	width:66.6%;
	height:550px;
}
<<<<<<< Updated upstream

/*用户中心*/
.userInfo_main {
	width : 80%;
	margin: 0 auto;
	min-width : 1000px;
	margin-bottom : 120px;
}

.userInfo_center {
	padding-top : 120px;
	width : 80%;
	min-width : 800px;
	margin : 0 auto;
}

.userInfo_info {
	width : 100%;
	border:1px solid #dbdbdb;
}

.userInfo_center_main {
	width : 100%;
	min-width : 857px;
}
.userInfo_ul {
	border-right : 1px solid #dbdbdb;
	height : 100%;
	width : 23.3%;
	min-width : 200px;
	font-size : 17px;
	margin : 0;
	padding : 0;
	min-height : 500px;
}

.userInfo_ul li {
	line-height : 70px;
	padding-left : 20px;
	cursor: pointer; 
}

.userInfo_ul li:hover {
	background-color:#dbdbdb;
	font-size : 20px;
}

.userInfo_ul li a {
	color:#494949;
}

.userInfo_ul li a:hover {
	text-decoration:none;
}

.userInfo_right {
	width : 75.7%;
	float : right;
	min-width : 654px;
}

.userInfo_info:after {
	content : ".";
	display : block;
	height : 0;
	visibility : hidden;
	clear : both;
}

.changePassWord_main {
	width : 90%;
	min-width:500px;
	margin:0 auto;
	padding-top : 100px;
}

.changePassWordBtn {
	margin-left: 43%;
	margin-top : 5%;
}
.adminLogin-empty-title{
	height:100px;
}
.adminLogin-login-block{
	rgba(204, 204, 204, 0.39);
    border: 1px solid rgba(204, 204, 204, 0.51);
    width:30%;
    margin-left:35%;
    margin-top: 11%;
    border-radius:6px;
}
.adminLogin-login-form{
    margin-left: 8%;
    margin-right: 8%;
    height: 298px;
}

.checkSpan {
	display: block;
    margin-top: 2%;
    font-size : 18px;
}

/*adminMain-left*/
.adminMain-left-block{
	background:#202121;
    border-right: 1px solid rgba(0, 0, 0, 0.31);
}
.adminMian-left-block-block{
	position:absolute;
	height:100%;
}
.adminMain-left-title-span{
	font-size: 20px;
	color: rgba(255, 255, 255, 0.67);
	padding-top:20px;
}
.adminMain-left-title-block{
	text-align:center;
	position:absolute;
	height:7%;
	background:rgba(14, 15, 15, 0.97);
	width:100%;
}
.adminMain-left-menu-block{
    top: 7%;
	position: absolute;
    height: 93%;
    width: 100%;
    background: white;
}
.adminMain-left-menu-list-block{
	height:40px;
}
.adminMain-left-menu-list-a{
	border-radius: 0;
    padding-left: 15%;
}
.adminMain-left-menu-list-block-block{
	border-radius:0;
}

/*adminMain-right*/
.adminMain-right-block{
	background:white;
}
.adminMain-right-block-block{
	position:absolute;
	height:100%;
}
.adminMian-right-title-block{
	position:absolute;
	height:7%;
	width:100%;
    border-bottom: 1px solid rgba(158, 158, 158, 0.63);
}
.adminMain-right-title-right-block{
    float: right;
    margin-right: 20px;
    font-size: 16px;
    padding-top: 1%;
}
.adminMain-right-title-form{
	margin-top:1%;
}
.adminMain-right-content-block{
	top: 7%;
	position: absolute;
    height: 93%;
    width: 100%;
    background: white;
	Stashed changes
}

/*userManage*/
.userManage-block{
	position: absolute;
    height: 100%;
}
.userManage-title-span{
	font-size: 20px;
    padding-left: 1%;
    padding-top: 1%;
}
.userManage-title-block{
	padding-left: 1%;
    padding-top: 1%;
}
.userManage-table-block{
    width: 90%;
    margin-left: 5%;
}
.userManage-pageOperator-block{
    top: 90%;
    height: 10%;
    position: absolute;
    padding-left: 5%;
}
.userManage-pageOperator-input{
	width: 72px;
    display: inline-block;
    padding: 5px 11px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    margin-right: 5px;
    border: 1px solid rgba(158, 158, 158, 0.61);
    border-radius: 5px;
}
.userManage-search-form{
	margin-left: 4%;
    width: 96%;
    padding-right: 1%;
}
.userManage-table{
    text-align: center;
}

/*fileManage*/
.fileManage-table{
    table-layout: fixed;
}
.fileManage-table-td{
	overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.fileManage-table-width{
	width:7%;
}

/*userManage-userDisplay*/
.userDisplay-baseInfo-block{
    height: 25%;
    position: absolute;
    width: 100%;
}
.userDisplay-baseInfo-img-block{
	height: 100%;
    width: 16%;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    display:inline-block;
}
.userDisplay-baseInfo-img{
	height: 100%;
	border-radius:50%;
}
.userDisplay-baseInfo-text-block{
	display:inline-block;
}