
<style>
</style>
<div class="index_main" style="background: #fff" ng-init="init()">
	<div class="index_center" style = "padding-top: 2%;" ng-repeat="mes in messages">
		<div style="width: 100%; padding-bottom: 4%; border-bottom: 1px solid #ccc" ng-if="mes.noticeFromComment && mes.noticeFromComment.id!=null">
			<div style="width: 100%;">
				<a><img id="head-img"
					ng-src="../app/image/headImg/170705040910489.png"
					ng-click="myLand(dynamic.user.id)"> </a> &nbsp;&nbsp;<a
					href="javascript:void(0)">XXXXXXX</a>
			</div>
			<div>
				<div style="margin-left: 6%; padding-right: 4%; background: #fcfdfd">
					<p>回复我的动态：&nbsp;&nbsp;{{mes.noticeFromComment.content}}</p>
					<p
						style="border: 1px slid red; padding: 2%; background: #e6e3de; border-radius: 2%;">
						<span>动态内容：</span>&nbsp;&nbsp;XXXXXXXXXXXXXXXXX♂😁
					</p>
					<div style="padding-right: 4%;">
						<a class="pointer" ng-click="openParentConment($index)"
							style="float: right"> <span
							class="glyphicon glyphicon-pencil"
							style="cursor: pointer; text-decoration: none"></span> 回复
						</a>
						<div style="clear: both;"></div>
					</div>
					<section class="index_center_section" style="display: none"
						id="{{$index}}">
						<form class="section_form">
							<textarea placeholder="添加评论..." style="height: 18px;"
								class="section_textarea" ng-model="mes.noticeFromComment.dynamic.newContent"></textarea>
						</form>
						<div
							style="border-top: 1px solid #ddd; margin-top: 4%; width: 100%; padding-top: 3%;">
							<button class="sendButton" ng-click="cancelConment($index)"
								style="float: right;">取消</button>
							<div
								style="display: block; height: 20px; width: 5%; float: right;"></div>
							<button class="sendButton"
								ng-click="saveComment(mes.noticeFromComment.dynamic.id,mes.noticeFromComment.fromUser.id,mes.noticeFromComment.dynamic.newContent,mes.noticeFromComment.fatherComment.id,mes.noticeFromComment.id)"
								style="float: right;">发送</button>
							<div style="clear: both;"></div>
						</div>
					</section>
				</div>
			</div>
		</div>

		<div
			style="width: 100%; padding-bottom: 4%; border-bottom: 1px solid #ccc" ng-if="mes.noticeFromAccusation && mes.noticeFromAccusation.id!=null">
			<div style="width: 100%;">
				<a><img id="head-img"
					ng-src="../app/image/headImg/170705040910489.png"
					ng-click="myLand(dynamic.user.id)"> </a> &nbsp;&nbsp;<a
					href="javascript:void(0)">举报通知</a> &nbsp;&nbsp; &nbsp;&nbsp;
				&nbsp;&nbsp;有用户举报了你
			</div>
			<div>
				<div style="margin-left: 6%; padding-right: 4%; background: #fcfdfd">
					<p>被举报动态：&nbsp;&nbsp;<a>{{mes.noticeFromAccusation.accusationedDynamic.content}}</a></p>
					<p>举报内容：&nbsp;&nbsp;{{mes.noticeFromAccusation.accusationedRemark}}</p>
				</div>
			</div>
		</div>
		
		<div style="width: 100%; padding-bottom: 4%; border-bottom: 1px solid #ccc"  ng-if="mes.noticeFromLike && mes.noticeFromLike.id!=null">
			<div style="width: 100%;">
				<a><img id="head-img"
					ng-src="../app/image/headImg/170705040910489.png"
					ng-click="myLand(dynamic.user.id)"> </a> &nbsp;&nbsp;<a
					href="javascript:void(0)">{{mes.noticeFromLike.user.name}}</a> &nbsp;&nbsp; &nbsp;&nbsp;
				&nbsp;&nbsp;赞了你的动态&nbsp;&nbsp;<a>{{mes.noticeFromLike.dynamic.content}}</a>
			</div>
		</div>
	</div>
	<foot></foot>
</div>
					