<div>
	<div class = "changePassWord_main">
		<div class="col-md-12 no-padding">
			<form name="changePassWordForm" class="form-horizontal">
				<div class="form-group">
					<span class="col-sm-3 no-padding control-label">旧密码</span>
					<div class="col-sm-6">
						<input type="password" class="form-control" ng-model = "originalPassWord"/>
					</div>
					<div class="col-sm-3"></div>
				</div>
				<div class="form-group">
					<span class="col-sm-3 no-padding control-label">新密码</span>
					<div class="col-sm-6">
						<input type="password" class="form-control" ng-model = "newPassWord"/>
					</div>
					<div class="col-sm-3"></div>
				</div>
				<div class="form-group">
					<span class="col-sm-3 no-padding control-label">再次输入新密码</span>
					<div class="col-sm-6">
						<input type="password" class="form-control" ng-model = "againNewPassWord"/>
					</div>
					<div class="col-sm-3"></div>
				</div>
				<div class="form-group">
					<span class="col-sm-3 no-padding control-label"></span>
					<div class="col-sm-6">
						<button class = "btn ben-default" ng-click = "changePassWord()">更改密码</button>
					</div>
					<div class="col-sm-3"></div>
				</div>
			</form>
		</div>
	</div>
</div>