<div>
	<div class = "changePassWord_main">
		<div class="col-md-12 no-padding">
			<form name="changePassWordForm" class="form-horizontal">
				<div class="form-group">
					<span class="col-sm-3 no-padding control-label">姓名</span>
					<div class="col-sm-7">
						<input type="password" class="form-control" ng-model = "uerName"/>
					</div>
					<div class="col-sm-2"></div>
				</div>
				<div class="form-group">
					<span class="col-sm-3 no-padding control-label">性别</span>
					<div class = "col-sm-4">
						<select class="form-control">
							<!-- <input type="password" class="form-control" ng-model = "uerName"/> -->
							<option>男</option>
							<option>女</option>
							<option>未指定</option>
						</select>
					</div>
					<div class="col-sm-5"></div>
				</div>
				<div class="form-group">
					<span class="col-sm-3 no-padding control-label">邮箱</span>
					<div class="col-sm-7">
						<input type="password" class="form-control" ng-model = "uerName"/>
					</div>
					<div class="col-sm-2"></div>
				</div>
				<div class="form-group">
					<span class="col-sm-3 no-padding control-label">联系电话</span>
					<div class="col-sm-7">
						<input type="password" class="form-control" ng-model = "uerName"/>
					</div>
					<div class="col-sm-2"></div>
				</div>
				<div class="form-group">
					<span class="col-sm-3 no-padding control-label">个人简介</span>
					<div class="col-sm-7">
						<textarea  class="form-control" ng-model = "uerName" rows = "3"></textarea>
					</div>
					<div class="col-sm-2"></div>
				</div>
				<div class="form-group">
					<span class="col-sm-3 no-padding control-label"></span>
					<div class="col-sm-7">
						<button class = "btn btn-defatule">提交</button>
					</div>
					<div class="col-sm-2"></div>
				</div>
			</form>
		</div>
	</div>
</div>