<div class="changePassWord_main" ng-init="init()">
	<div class="changeHeader_center">
		<div class="changeHeaderLeft">
			<div>
				请选择您的头像:<input type="file" id="fileInput" />
			</div>
			<div class="cropArea">
				<img-crop image="myImage" result-image="myCroppedImage"></img-crop>
			</div>
		</div>
		<div class="changeHeaderRight">
			<div>
				<div class="changeHeader_Right_div_text">头像预览</div>
				<div style = "padding-top : 20px;">
					<img ng-if = "myCroppedImage.length > 0" ng-src="{{myCroppedImage}}" style="border-radius: 50%;">
					<img  ng-if="!myCroppedImage" ng-src="../app/directives/title/image/default.jpg" style="border-radius: 50%;width:200px;height:200px;">
				</div>
			</div>
			<div class = "headerImgDiv">
				<button ng-click = "saveHeadImg()" class = "changeHeaderImgBtn btn btn-info">更换头像</button>
			</div>
		</div>
	</div>
</div>