<div>
	<div class = "changePassWord_main">
		<div class="col-md-12 no-padding">
			<form name="changePassWordForm" class="form-horizontal" name="changePassWordForm">
				<div class="form-group">
					<span class="col-sm-3 no-padding control-label">旧密码</span>
					<div class="col-sm-5">
						<input type="password" class="form-control" name = "originalPassWord" ng-model = "originalPassWord" required/>
					</div>
					<div class="col-sm-4">
						<span style="color:red" ng-show="changePassWordForm.originalPassWord.$dirty && changePassWordForm.originalPassWord.$invalid">
  							<span class = "checkSpan" ng-show="changePassWordForm.originalPassWord.$error.required">请输入原始密码</span>
  						</span>
					</div>
				</div>
				<div class="form-group">
					<span class="col-sm-3 no-padding control-label">新密码</span>
					<div class="col-sm-5">
						<input type="password" name = "newPassWord" class="form-control" ng-model = "newPassWord" required/>
					</div>
					<div class="col-sm-4">
						<span style="color:red" ng-show="changePassWordForm.newPassWord.$dirty && changePassWordForm.newPassWord.$invalid">
  							<span class = "checkSpan" ng-show="changePassWordForm.newPassWord.$error.required">请输入新密码</span>
  						</span>
					</div>
				</div>
				<div class="form-group">
					<span class="col-sm-3 no-padding control-label">再次输入新密码</span>
					<div class="col-sm-5">
						<input type="password" class="form-control" name = "againNewPassWord" ng-model = "againNewPassWord" required/>
					</div>
					<div class="col-sm-4">
						<span style="color:red" ng-show="changePassWordForm.againNewPassWord.$dirty && changePassWordForm.againNewPassWord.$invalid">
  							<span class = "checkSpan" ng-show="changePassWordForm.againNewPassWord.$error.required">请重复输入新密码</span>
  						</span>
					</div>
				</div>
				<div class="form-group">
					<span class="col-sm-3 no-padding control-label"></span>
					<div class="col-sm-5">
						<button class = "btn btn-info" ng-disabled="changePassWordForm.$invalid" ng-click = "changePassWord()">更改密码</button>
					</div>
					<div class="col-sm-3">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>