<div title class="col-md-12 no-padding"></div>
<div class="userInfo_main" ng-init = "init()">
	<div class="userInfo_center">
		<div class="userInfo_center_main">
			<div class="userInfo_info">
				<ul class="userInfo_ul" style="float: left;">
					<li ng-click = "go('changeImg')"><a>更换头像</a></li>
					<li ng-click="go('changeInfo')"><a>编辑主页</a></li>
					<li ng-click="go('changePassWord')"><a>更改密码</a></li>
					<li ng-click="go('changeComment')"><a>我的评论</a></li>
				</ul>
				<div class="userInfo_right">
					<div ui-view></div>
				</div>
			</div>
		</div>
	</div>

</div>