<div class="col-md-12 no-padding adminMian-left-block-block">
	<div class="adminMain-left-title-block pointer" ng-click="goAdminMain()">
		<span class="glyphicon glyphicon-home adminMain-left-title-span"> Sharing-Manager</span>
	</div>
	<div class="adminMain-left-menu-block">
		<div class="list-group adminMain-left-menu-list-block-block">
		  <a class="list-group-item pointer glyphicon glyphicon-user adminMain-left-menu-list-a" ng-click="goUserManage()"> 用户管理</a>
		  <a class="list-group-item pointer glyphicon glyphicon-tags adminMain-left-menu-list-a" ng-click="goDynamicManage()"> 动态管理</a>
		  <a class="list-group-item pointer glyphicon glyphicon-folder-open adminMain-left-menu-list-a" ng-click="goFileManage()"> 文件管理</a>
		  <a class="list-group-item pointer glyphicon glyphicon-align-center adminMain-left-menu-list-a"> 数据统计管理</a>
		  <a class="list-group-item pointer glyphicon glyphicon-bell adminMain-left-menu-list-a" ng-click="goQuestionManage()"> 问题反馈管理<span  ng-if="notReadQuestionNum > 0" class="badge back-red">{{notReadQuestionNum}}</span></a>
		  <a class="list-group-item pointer glyphicon glyphicon-exclamation-sign adminMain-left-menu-list-a" ng-click="goAccusationManage()"> 用户举报管理</a>
		</div>
	</div>
</div>