<div title class="col-md-12 no-padding"></div>
<!-- <div class="col-md-12 no-padding">
	<button ng-click="dialog()">dialog</button>
</div> -->
<div class="index_main" style="background: #fff">
	<div class="index_center">
		<div>
			<article class="index_article">
				<header class="index_article_header">高雪慧</header>
				<div style="width: 600px">
					<img src="/SHARING/app/image/login/login.png" style="width: 600px;">
				</div>
				<div class="index_comment">
					<div class="index_image_div" ng-click="enterFavor($event)">
						<img src="/SHARING/app/image/index/like.png"
							style="cursor: pointer;" />
					</div>
					<div class="favor_div">
						<span>XXXX次赞</span>
					</div>
					<div class="index_center_info">
						<span class="index_center_span">送你们的福利 </span>
					</div>
					<div class="index_center_comment">
						<ul class="index_center_ul">
							<li>袁李:真棒</li>
							<li>李桥:哎呦,不错哟</li>
						</ul>
					</div>
					<section class="index_center_section">
						<form class="section_form">
							<textarea placeholder="添加评论..." style="height: 18px;"
								class="section_textarea"></textarea>
							<button class="sendButton" ng-click="saveComment($event)">回复</button>
						</form>
					</section>
				</div>
			</article>

			<article class="index_article">
				<header class="index_article_header">高雪慧</header>
				<div style="width: 600px">
					<img src="/SHARING/app/image/login/login.png" style="width: 600px;">
				</div>
				<div class="index_comment">
					<div class="index_image_div" ng-click="enterFavor($event)">
						<img src="/SHARING/app/image/index/like.png"
							style="cursor: pointer;" />
					</div>
					<div class="favor_div">
						<span>XXXX次赞</span>
					</div>
					<div class="index_center_info">
						<span class="index_center_span">再来一波</span>
					</div>
					<div class="index_center_comment">
						<ul class="index_center_ul">
							<li>袁李:懂我</li>
							<li>李桥:还有吗?私发我QQ</li>
						</ul>
					</div>
					<section class="index_center_section">
						<form class="section_form">
							<textarea placeholder="添加评论..." style="height: 18px;"
								class="section_textarea"></textarea>
							<button class="sendButton" ng-click="saveComment($event)">回复</button>
						</form>
					</section>
				</div>
			</article>
		</div>
	</div>
	<foot></foot>
</div>