<div title class="col-md-12 no-padding"></div>
<!-- <div class="col-md-12 no-padding">
	<button ng-click="dialog()">dialog</button>
</div> -->
<div class = "index_main" style = "background:#fff">
	<div class = "index_center">
		<div>
			<article class = "index_article">
				<header class = "index_article_header">aaaa</header>
				<div style = "width:600px">
					<img src = "/SHARING/app/image/login/login.png" style = "width : 600px;">
				</div>
				<div class = "index_comment">
				<div class = "index_image_div" ng-click = "enterFavor($event)"><img src = "/SHARING/app/image/index/like.png" style = "cursor:pointer;"/></div>
				ccccc
				</div>
			</article>
			
			<article class = "index_article">
				<header class = "index_article_header">aaaa</header>
				<div style = "width:600px">
					<img src = "/SHARING/app/image/login/login.png" style = "width : 600px;">
				</div>
				<div class = "index_comment">
					<div class = "index_image_div" ng-click = "enterFavor($event)"><img src = "/SHARING/app/image/index/like.png" style = "cursor:pointer;"/></div>
				ccccc
				</div>
			</article>
		</div>
	</div>
</div>