<div class="col-md-12 no-padding">
	<div class="col-md-2 no-padding"></div>
	<div class="col-md-8 no-padding">
		<div class="col-md-12 no-padding">
			<div class="page-header">
  				<h1>乐享<small> ----乐您所乐，享您所想</small></h1>
			</div>
		</div>
		<div class="col-md-8 no-padding">
			<img class="col-md-12 no-padding login-img" src="../app/image/login/login.png">
		</div>
		<div class="col-md-4 no-padding">
			<div class="col-md-10 no-padding loginIn-block">
				<form name="loginInForm" class="loginIn-form">
					<div class="loginIn-form-title-block">
						<span class="loginIn-form-title">账号登录</span>
					</div>
					<div class="input-group login-form-input-block">
	  					<span class="input-group-addon loginIn-form-input-span" id="basic-addon1"><a class="glyphicon glyphicon-user login-form-input-icon"></a></span>
	  					<input type="text" class="form-control login-form-input" placeholder="用户名" aria-describedby="basic-addon1" ng-model="user.name">
					</div>
					<div class="input-group login-form-input-block">
	  					<span class="input-group-addon loginIn-form-input-span" id="basic-addon1"><a class="glyphicon glyphicon-lock login-form-input-icon"></a></span>
	  					<input type="password" class="form-control login-form-input" placeholder="密码" aria-describedby="basic-addon1" ng-model="user.password">
					</div>
					<div class="checkbox login-form-checkbox-font">
	    				<label>
	      					<input type="checkbox">记住密码
	    				</label>
	    				<a href="" class="pointer float-right">忘记密码</a>
	  				</div>
	  				<div class="login-form-btn-block">
	  					<button class="login-form-loginInBtn" ng-click="judgeLoginUser()">登录</button>
	  				</div>
				</form>
				<div class="login-form-back-block">
					<div class="col-md-3 no-padding login-form-back-div">
						<a class="glyphicon glyphicon-home login-form-back-icon" ng-click="goHome()"></a>
					</div>
					<div class="col-md-9 no-padding login-form-back-div login-form-back-div-margin">
						<span>您还没有账号？ 点击</span><a class="pointer" ng-click="goRegister()">注册</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2 no-padding"></div>
	<div foot></div>
</div>