<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sharing.entity.file">
	<select id="findSharingFileById" resultType="sharing.entity.file.SharingFile">
		select * from sharingFile where id=#{id}
	</select>
	<insert keyColumn="id" id="addSharingFile" parameterType="sharing.entity.file.SharingFile"  useGeneratedKeys="true" keyProperty="id">
		insert into sharingFile(fileCode,fileName,width,height,uploadDate,userId,dynamicId) values(#{fileCode},#{fileName},#{width},#{height},#{uploadDate},#{user.id},#{dynamic.id})
	</insert>
</mapper>