<div class="col-md-12 no-padding" ng-init = "init()">
	<nav class="navbar navbar-default col-md-12 no-padding no-margin">
		<div class="col-md-2 navbar-default"></div>
		<div class="container-fluid col-md-8 no-padding">
			<div class="navbar-header">
				<!-- <div id="d-title-icon-block">
					<a ng-click="goHome()"> <img id="d-title-icon"
						src="../app/directives/title/image/icon.png">
					</a>
				</div> -->
				<div id="d-title-netName-block">
					<a ng-click="goHome()" class="pointer"> <img id="d-title-icon"
						src="../app/directives/title/image/name.png">
					</a>
				</div>
			</div>
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<form class="navbar-form navbar-left">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="关键字">
					</div>
					<button type="submit" class="btn btn-default" ui-sref="publishingDynamics">搜索</button>
				</form>
				<ul class="nav navbar-nav smallFont">
					<li><a class="pointer" ng-click=""></a></li>
					<li><a class="pointer"></a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right" ng-if="!userId">
					<li><a class="pointer" ng-click="go('loginIn')">登录</a></li>
					<li><a class="pointer" ng-click="go('register')">注册</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right" ng-if="userId">
					<li class="dropdown">
						<a id="head-img-a" class="dropdown-toggle pointer" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ng-click = "showList()">
							<img id="head-img" ng-if="myCroppedImage.length > 0" ng-src = "{{myCroppedImage}}">
							<img id="head-img" ng-if="myCroppedImage.length == 0" src="../app/directives/title/image/default.jpg">
							{{userInfo.name}}
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" style = "display:block!important;" ng-if = "show">
							<li><a class="pointer">消息</a></li>
							<li><a class="pointer" ng-click = "manageUserInfo()">个人资料</a></li>
							<li><a class="pointer" ng-click = "myLand()">我的地盘</a></li>
							<li><a class="pointer" ng-click="exit()">退出</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>
<style>
#head-img-a{
	padding:0;
	margin:0;
	padding-top:10px;
}
#head-img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
#d-title-netName-block {
	display: inline-block;
	margin-top: 10px;
	width: 60px;
	height: 30px;
}

#d-title-icon {
	width: 100%;
	height: 100%;
}

#d-title-netName-span {
	font-size: 22px;
	color: transparent;
	background-color: black;
	text-shadow: rgba(255, 255, 255, 0.5) 0 5px 6px,
		rgba(255, 255, 255, 0.2) 1px 3px 3px;
	-webkit-background-clip: text;
}

#d-title-icon-block {
	width: 40px;
	height: 40px;
	margin-top: 5px;
	display: inline-block;
	margin-right: 10px;
}
</style>