<div class="col-md-12 no-padding">
	<nav class="navbar navbar-default col-md-12 no-padding no-margin">
		<div class="col-md-2 navbar-default"></div>
  		<div class="container-fluid col-md-8 no-padding">
		    <div class="navbar-header">
		      <a class="navbar-brand pointer" ng-click="goHome()">主页</a>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav smallFont">
		        <li><a class="pointer" ng-click=""></a></li>
		        <li><a class="pointer"></a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li><a class="pointer" ng-click="go('loginIn')">登录</a></li>
		        <li><a class="pointer" ng-click="go('register')">注册</a></li>
		      </ul>
		    </div>
 		 </div>
	</nav>
</div>