<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sharing.entity.accusation">
	<insert keyColumn="id" id="addAccusation" parameterType="sharing.entity.accusation.Accusation" useGeneratedKeys="true" keyProperty="id">
		insert into accusation(accusationUserId,accusationedUserId,accusationedDynamicId,accusationedCommentId,accusationedRemark,accusationedDate) values(#{accusationUserId},#{accusationedUserId},#{accusationedDynamicId},#{accusationedCommentId},#{accusationedRemark},#{accusationedDate})
	</insert>
	<delete id="deleteAccusation">
		delete from accusation where accusation.id=#{accusationId}
	</delete>
	<resultMap type="sharing.entity.user.User" id="UserNameAndId1">
		<result property="id" column="accusationUserId"/>
		<result property="name" column="name"/>
	</resultMap>
	<resultMap type="sharing.entity.user.User" id="UserNameAndId2">
		<result property="id" column="accusationedUserId"/>
		<result property="name" column="name"/>
	</resultMap>
	<resultMap type="sharing.entity.dynamic.Dynamic" id="DynamicId">
		<result property="id" column="accusationedDynamicId"/>
	</resultMap>
	<resultMap type="sharing.entity.comment.Comment" id="CommentId">
		<result property="id" column="accusationedCommentId"/>
	</resultMap>
	<resultMap type="sharing.entity.accusation.Accusation" id="AccusationBaseInfo">
		<result property="id" column="id"/>
		<result property="accusationedRemark" column="accusationedRemark"/>
		<result property="accusationedDate" column="accusationedDate"/>
		<association property="accusationUser" column="accusationUserId" javaType="sharing.entity.user.User"  resultMap="UserNameAndId1"/>
		<association property="accusationedUser" column="accusationedUserId" javaType="sharing.entity.user.User"  resultMap="UserNameAndId2"/>
		<association property="accusationedDynamic" column="accusationedDynamicId" javaType="sharing.entity.dynamic.Dynamic"  resultMap="DynamicId"/>
		<association property="accusationedComment" column="accusationedCommentId" javaType="sharing.entity.comment.Comment"  resultMap="CommentId"/>
	</resultMap>
	<select id="findAccusationByLimit" resultMap="AccusationBaseInfo">
		select * from accusation left join user u1 on u1.id=accusation.accusationUserId left join user u2 on u2.id=accusation.accusationedUserId left join dynamic on dynamic.id=accusation.accusationedDynamicId left join comment on comment.id=accusation.accusationedCommentId
	</select>
	<select id="findTotalOfAllAccusation" resultType="java.lang.Long">
		select count(id) from accusation
	</select>
</mapper>